<h3 class="registration-row-title margin">Change Password</h3>
<form  [formGroup]="emailForm" (ngSubmit)="resetPassword()">
  <div class="registration-form-group" [class.border-danger]="validatorForm('usernameOrEmail')" >
    <input formControlName="usernameOrEmail" class="registration-form-group-inp" type="text" required>
    <label class="registration-form-group-label">Email</label>
  </div>
  <div class="registration-form-group">
    <button  type="submit" class="registration-form-group-btn">Reset Password</button>
  </div>
</form>

