<div class="container">
  <div class="row ">
    <div class="column">
      <div class="items">
        <div class="img">
          <img src="assets/img/FlowerShopWhite.png" alt="">
        </div>
        <div class="parent">
          <div class="item">
            <div class="catalog">
              <p class="title">CATALOG</p>
              <ul>
                <li class="li-item">Flesh flowers</li>
                <li class="li-item">indoor plants</li>
                <li class="li-item">Planting material</li>
              </ul>
            </div>
            <div class="text">
              <ul class="text-col">
                <li routerLink="" class="li-item">Floral accessories</li>
                <li routerLink="" class="li-item">Compositions made of artificial materials and dried flowers</li>
                <li routerLink="" class="li-item">Landscape design</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="store">
              <p class="title">STORE</p>
              <ul>
                <li routerLink="about-us" class="li-item">About us</li>
                <li routerLink="news" class="li-item">News</li>
                <li routerLink="" class="li-item">Contacts</li>
              </ul>
            </div>
            <div class="social">
              <p class="title">SOCIAL MEDIA</p>
              <ul class="row">
                <li class="social-icon li-item">
                  <a href="https://uk-ua.facebook.com/">
                    <img src="assets/img/Social-media/fasebook.png" alt="">
                  </a>
                </li>
                <li class="social-icon li-item">
                  <a href="https://www.tiktok.com/uk-UA/">
                    <img src="assets/img/Social-media/tik-tok.png" alt="">
                  </a>
                </li>
                <li class="social-icon li-item">
                  <a href="https://vk.com/">
                    <img src="assets/img/Social-media/vk.png" alt="">
                  </a>
                </li>
                <li class="social-icon li-item">
                  <a href="https://www.instagram.com/">
                    <img src="assets/img/Social-media/instagram.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-border">
      <div class="row">
        <div class="margin">
          <p class="company">© FlowerShop, 2021</p>
          <p class="email">info@flowershop.by</p>
        </div>
      </div>
    </div>
  </div>
</div>

