<h3 class="account-row-title margin">Change Password</h3>
<form [formGroup]="passwordChangeForm">
  <div class="account-form-group"  [class.border-danger]="validatorForm('oldPassword')" >
    <input formControlName="oldPassword" class="account-form-group-inp" type="text"  placeholder=" ">
    <label class="account-form-group-label">ОldPassword<span class="star">*</span></label>
  </div>
  <div class="account-form-group"   [class.border-danger]="validatorForm('newPassword')">
    <input formControlName="newPassword" class="account-form-group-inp" type="text"  placeholder=" ">
    <label class="account-form-group-label">NewPassword<span class="star">*</span></label>
  </div>
  <div class="account-form-group">
    <button type="button" class="account-form-group-btn width" (click)="changePassword()">Change Password</button>
  </div>
</form>
