<div class="container">
  <div class="center">
    <hr class="hr-border">
  </div>
</div>
<div class="page">
  <div class="page-container">
    <app-navigate></app-navigate>
    <div class="news">
      <h1 class="news-title">New delivery method</h1>
      <p class="news-description">For several years now, our company has been delighting customers with the delivery
        of flowers and congratulations. We are really proud of the clear and well-coordinated work of our employees
        and are always confident that your order will be delivered at the right time to the right place.</p>
    </div>
    <div class="img">
      <img class="img-title" src="assets/img/news-article/image%20258.png" alt="">
    </div>
    <div class="description">
      <p>Flowers can and should be given not only for holidays, but also for no reason. And flowers with delivery are
        convenient, fast and reliable. In our online store, you can order stunning bouquets for your home or office,
        which can not fail to impress. We will deliver them to any convenient point in Minsk. If desired, the bouquet is
        supplemented with a postcard, the text of which is chosen by the client.
        Flower delivery Minsk is a service that is very popular in the Republic of Belarus. You can order a ready-made
        composition or a thematic bouquet for a birthday, name day, wedding, anniversary, congratulations and other
        occasions. Roses (peony, bush), tulips, daisies, lilies, orchids, chrysanthemums, gerberas, alstroemeria,
        irises, peonies, eustomas, carnations are only a part of those flowers that are used for making bouquets. Forget
        about visiting a florist. We will make a bouquet for you that meets your wishes and requirements, and we will
        deliver it for free in Minsk and the Minsk district: Central, Sovetsky, Pervomaysky, Partizansky, Zavodsky,
        Leninsky, Oktyabrsky, Moskovsky, Frunzensky.</p>
    </div>
    <div class="card">
      <div class="card-img">
        <img class="card-img-flowers" src="assets/img/news-article/image%20259.png" alt="">
      </div>
      <div class="card-description">
        <p>For several years now, our company has been delighting customers with the delivery of flowers and
          congratulations. We are really proud of the clear and well-coordinated work of our employees and are always
          confident that your order will be delivered at the right time to the right place.</p>
      </div>
    </div>
    <div class="promo">
      <div class="promo-left">
        <img class="promo-left-img" src="assets/img/main/promo/promoLeft.png" s alt="">
      </div>
      <div class="promo-right">
        <img class="promo-right-img" src="assets/img/main/promo/promoRight.png" alt="">
      </div>
    </div>
  </div>
</div>
